.spinnerGroup {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: var(--mainText-color);
} /*spinner container*/

.spinner {
    width: 32px;
    height: 32px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    background: conic-gradient(
        rgb(98, 125, 213),
        rgb(0, 238, 255),
        #0eebac,
        rgb(98, 125, 213)
    );
    animation: spin 1.4s linear infinite;
    box-shadow: 0px 0px 10px -8px black;
    border: 1px solid white;
} /*spinner animation*/

.spinner::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px -8px black;
    border: 1px solid white;
} /*filler inside the spinner*/

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} /*spinner animation*/
