/* Include this at the top of CSS file */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@300&display=swap");

@import "../Profile/colorPicker.module.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*ensures that padding and border are included in total width and height*/
    font-family: "Calibri", sans-serif;
} /*applies to all CSS files*/

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 37px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(220, 220, 220);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: var(--border-color) 1.5px solid;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--elementBackground-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:disabled + .slider {
    background-color: rgba(255, 0, 0, 0.781);
    cursor: not-allowed;
}

input:checked + .slider {
    background-color: var(--mainText-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--focus-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}
