:root {
    --mainText-color: rgb(0, 0, 66);
    --pageBackground-color: #d8f5fd;
    --elementBackground-color: rgb(241, 253, 255);
    --border-color: rgba(71, 180, 230, 0.4);
    --hover-color: #c5edff;
    --focus-color: rgba(118, 198, 235, 0.4);
} /* default blue */

/* dark
:root {
    --mainText-color: rgb(187, 187, 187);
    --pageBackground-color: rgb(0, 0, 0);
    --elementBackground-color: rgb(23, 23, 23);
    --border-color: rgba(212, 212, 212, 0.4);
    --hover-color: grey;
    --focus-color: rgb(67, 67, 67);
} */

/* light :root {
    --mainText-color: rgb(0, 0, 0);
    --pageBackground-color: rgb(255, 255, 255);
    --elementBackground-color: rgb(255, 255, 255);
    --border-color: rgba(153, 153, 153, 0.4);
    --hover-color: rgb(217, 217, 217);
    --focus-color: rgb(211, 211, 211);
} */

/* green :root {
    --mainText-color: rgb(0, 66, 17);
    --pageBackground-color: rgb(199, 228, 207);
    --elementBackground-color: rgb(241, 255, 245);
    --border-color: rgba(0, 160, 35, 0.4);
    --hover-color: rgb(210, 246, 219);
    --focus-color: rgba(0, 178, 118, 0.483);
} */

/* blue :root {
    --mainText-color: rgb(0, 0, 66);
    --pageBackground-color: #d8f5fd;
    --elementBackground-color: rgb(241, 253, 255);
    --border-color: rgba(71, 180, 230, 0.4);
    --hover-color: #c5edff;
    --focus-color: rgba(118, 198, 235, 0.4);
} */

/* pink:root {
    --mainText-color: rgb(51, 0, 48);
    --pageBackground-color: #fff2fa;
    --elementBackground-color: rgb(255, 254, 255);
    --border-color: rgba(255, 139, 249, 0.4);
    --hover-color: #fee1ff;
    --focus-color: rgba(235, 149, 224, 0.4);
} */
