/* Include this at the top of CSS file */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*ensures that padding and border are included in total width and height*/
    font-family: "Calibri", sans-serif;
} /*applies to all CSS files*/

.mainContainer {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#e8f7ff, #e5fffe);
    background-size: cover;
    background-position: center;
    user-select: none;
} /*acts as the body{}*/

/*left courses, right tasks, top link groups*/
.coursesContainer {
    width: 60vw;
    height: 85vh;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5vw 0 5vw;
} /*left*/

.tasksContainer {
    width: 40vw;
    height: 85vh;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 5vw 0 5vw;
} /*right*/

.linkGroup {
    display: flex;
    position: fixed;
    top: 5vh;
    right: 7vw;
} /*hyperlink to other pages*/

.linkGroup a {
    border: 2px solid rgba(0, 83, 124, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    color: #000055;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
} /*hyperlink text*/

.linkGroup a:hover {
    background-color: rgba(0, 124, 185, 0.3);
} /*hyperlink on hover*/

/*CourseContainer*/
.coursesHeader {
    padding: 0 0 3vh 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
} /*header and button*/

.coursesHeader h2 {
    color: #000055;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0.05vw;
} /*YOUR COURSES*/

.coursesHeader button {
    width: 10vw;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #3227b0, #408bfb);
} /*Add a course button*/

.coursesHeader button:hover {
    background: linear-gradient(to right, #408bfb, #3227b0);
} /*Add a course button on hover*/

.addACoursePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: rgb(241, 250, 255);
    padding: 4vh 2vw 4vh 2vw;
    border-radius: 10px;
    border: 2px solid rgba(8, 5, 76, 0.2);
    box-shadow: 0 0 20px rgba(133, 212, 249, 0.5);
    color: #000055;
} /* popup box styling*/

.backdropCoursePopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(
        0,
        0,
        0,
        0.7
    ); /* Semi-transparent backdrop when popup open*/
    display: flex;
    justify-content: center;
    align-items: center;
} /* backdrop styling*/

.formGroup {
    width: 100%;
    margin: 2vh 0 2vh 0;
} /*input box and label*/

.formGroup label {
    font-size: 16px;
} /*input box label*/

.formGroup input {
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
} /*input box content*/

.formGroup input::placeholder {
    color: rgba(0, 0, 85, 0.6);
} /*input box placeholder*/

/*remindergroup contains dropdowncontainer and checkboxcontainer*/
.reminderGroup {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} /*reminder group*/

.checkboxContainer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
} /*checkbox container*/

.checkboxContainer input {
    margin-right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: rgb(3, 97, 212);
} /*checkbox box*/

.dropdownContainer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
} /*dropdown container*/

.dropdownContainer select {
    width: 100%;
    margin: 0 0 0 3vw;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
    cursor: pointer;
} /*dropdown dropdown*/

.dropdownContainer select:focus {
    outline: none;
    border-color: #7cc8ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} /*dropdown dropdown on focus*/

.reminderGroupOthers {
    display: block;
    justify-content: space-between;
} /*reminder group for other tasks*/

.checkboxContainerOthers {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
} /*checkbox container for other tasks*/

.checkboxContainerOthers input[type="text"] {
    width: 78%;
    height: 100%;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
    margin: 0 0 0 3vw;
} /*input box content for other tasks*/

.checkboxContainerOthers input[type="checkbox"] {
    margin-right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: rgb(3, 97, 212);
} /*checkbox box for other tasks*/

.dropdownContainerOthers {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
} /*dropdown container for other tasks*/

.dropdownContainerOthers select {
    width: 21%;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
    cursor: pointer;
} /*dropdown dropdown for other tasks*/

.dropdownContainerOthers select:focus {
    outline: none;
    border-color: #7cc8ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} /*dropdown dropdown on focus for other tasks*/

.addACoursePopup button {
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(to right, #3227b0, #408bfb);
} /*submission buttons for course popup*/

.addACoursePopup button:hover {
    background: linear-gradient(to right, #408bfb, #3227b0);
} /*submission buttons on hover for course popup*/

.courseDraggable {
    user-select: none;
    padding: 16px;
    margin: 1.5vh 0 1.5vh 0;
    background-color: #fff;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 4px;
    cursor: grab;
    transition: background-color 0.2s ease;
    top: auto !important;
    left: auto !important;
} /*course draggable on page 2 popup*/

.courseDraggable:hover {
    background-color: #c6e2ff;
} /*course draggable on hover on page 2 popup*/

/*TaskContainer*/
.tasksHeader {
    color: #000055;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0.05vw;
}

.sortByDropdownContainer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sortByDropdownContainer select {
    width: 100%;
    margin: 0 0 0 3vw;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
    cursor: pointer;
}

.sortByDropdownContainer select:focus {
    outline: none;
    border-color: #7cc8ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addTaskButton {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #3227b0, #408bfb);
    margin-top: 15px;
}

.addATaskPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: rgb(241, 250, 255);
    padding: 4vh 2vw 4vh 2vw;
    border-radius: 10px;
    border: 2px solid rgba(8, 5, 76, 0.2);
    box-shadow: 0 0 20px rgba(133, 212, 249, 0.5);
    color: #000055;
}

.backdropTaskPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(
        0,
        0,
        0,
        0.7
    ); /* Semi-transparent backdrop when popup open*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcomingTasksContainer {
    height: 60vh;
    overflow-y: scroll;
}

.addATaskPopup input,
.addATaskPopup select {
    display: inline;
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    border-radius: 10px;
    font-size: 16px;
    color: #000055;
    padding: 8px;
}

.addTaskButton {
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(to right, #3227b0, #408bfb);
} /*add a task button*/

.addTaskButton:hover {
    background: linear-gradient(to right, #408bfb, #3227b0);
} /*add a task button on hover*/

.addATaskPopup button {
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(to right, #3227b0, #408bfb);
} /*submission buttons for task popup*/

.addATaskPopup button:hover {
    background: linear-gradient(to right, #408bfb, #3227b0);
} /*submission buttons on hover for task popup*/

/*courses and tasks shown in the page after adding*/

.coursesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tasksList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.courseItem {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
    word-wrap: break-word;
    width: 200px;
    height: 200px;
    position: relative;
}

.courseItemText {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: black;
}

.courseItem:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.taskRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: auto;
    word-wrap: break-word;
}

.taskCheckbox {
    flex: 1;
    margin: 0px;
}

.landingProgressBarContainer {
    display: block;
    margin-top: 10px;
}

.landingProgressBarContainer p {
    text-align: left;
    color: #000055;
}

.progressContainer {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 30px;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    margin: 10px 0 0 0;
}

.progressBar {
    height: 100%;
    background-color: #c6e2ff;
    border-radius: 30px;
    text-align: right;
    transition: width 0.2s ease-in-out;
}

.progressLabel {
    position: relative;
    top: -4px;
    padding: 10px;
    color: #000055;
    font-weight: bold;
    font-size: 12px;
}

.taskItem {
    flex: 9;
    padding: 10px;
    text-align: left;
}

.trashcan {
    padding: 10px 10px;
    text-align: right;
    color: grey;
}

.trashcan:hover {
    color: #ff1a1a;
    cursor: pointer;
}

.taskTrashcan {
    flex: 0.5;
}
.courseTrashcan {
    position: absolute;
    top: 5%;
    right: 5%;
}
