.mainContainer {
    display: block;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 10px;
}

.courseHeader {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
}

.courseTasksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: left;
    float: left;
}

.sortByLabel {
    font-size: 16px;
    padding-left: 7%;
    text-align: left;
}

.upcomingCompletedContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
    font-size: 20px;
}

.courseTasksList {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 20px;
    gap: 20px;
}

.courseTaskItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.courseTaskItem input {
    flex: 1;
    margin: 0px;
}

.taskItemDescriptor {
    flex: 20;
    text-align: left;
    font-size: 16px;
}

.deadlineDescriptor {
    font-size: 12px;
}

/*link back to course page*/
.courseToLandingPage {
    position: fixed;
    bottom: 50px;
    right: 100px;
    margin: 20px;
    font-size: 14px;
}

.courseToLandingPage a {
    color: rgb(55, 0, 128);
    text-decoration: none;
}

.courseToLandingPage a:hover {
    text-decoration: underline;
}

/*coursePage progress bar*/
.progressBarContainer {
    width: 40vw;
    height: 85vh;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 5vw 0 5vw;
}

.courseProgressBarContainer {
    display: block;
    margin-top: 10px;
}

.courseProgressBarContainer p {
    text-align: left;
    color: #000055;
}

.progressContainer {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 30px;
    border: 1.5px solid rgba(0, 110, 255, 0.5);
    margin: 10px 0 0 0;
}

.progressBar {
    height: 100%;
    background-color: #c6e2ff;
    border-radius: 30px;
    text-align: right;
    transition: width 0.2s ease-in-out;
}

.progressLabel {
    position: relative;
    top: -4px;
    padding: 10px;
    color: #000055;
    font-weight: bold;
    font-size: 12px;
}
