.dashboard-prelogin {
    background-color: rgb(235, 249, 253);
    padding: 50px;
    border-radius: 50px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-prelogin h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; 
}

.dashboard-prelogin a {
    color: rgb(55, 0, 128); 
    text-decoration: none;
    font-weight: bold;
}

.dashboard-prelogin a:hover {
    text-decoration: underline;
}

.dashboard-postlogin {
    background-color: rgb(235, 249, 253);
    padding: 50px;
    border-radius: 50px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-postlogin h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; 
}

.dashboard-postlogin button {
    margin-right: 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.dashboard-postlogin button:last-child {
    margin-right: 0; 
}

.dashboard-postlogin button:hover {
    background-color: #0056b3; 
}
