/* Include this at the top of CSS file */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@300&display=swap");

@import "../Profile/colorPicker.module.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*ensures that padding and border are included in total width and height*/
    font-family: "Calibri", sans-serif;
} /*applies to all CSS files*/

/*////////////////////////////////////////*/
/* APPLIES TO DASHBOARD BEFORE LOGIN PAGE */
/*////////////////////////////////////////*/

.mainContainer1 {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: linear-gradient(hsl(239, 100%, 82%), #c6ecff 50%);*/
    background: url("./mountain1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
} /*acts as the body{}*/

.linkGroup1 {
    display: flex;
    position: fixed;
    top: 7vh;
    right: 10vw;
} /*hyperlink to other pages*/

.linkGroup1 a {
    border: 2px solid rgba(0, 83, 124, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    color: #000055;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
} /*hyperlink text*/

.linkGroup1 a:hover {
    background-color: rgba(0, 124, 185, 0.3);
    cursor: pointer;
} /*hyperlink on hover*/

/*///////////////////////////////////////*/
/* APPLIES TO DASHBOARD AFTER LOGIN PAGE */
/*///////////////////////////////////////*/

.mainContainer2 {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: linear-gradient(hsl(239, 100%, 82%), #c6ecff 50%);*/
    background: url("./mountain1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
} /*acts as the body{}*/

.linkGroup2 {
    display: flex;
    position: fixed;
    top: 7vh;
    right: 10vw;
} /*hyperlink to other pages*/

.linkGroup2 button {
    border: 2px solid rgba(0, 83, 124, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    margin: 10px;
    color: #000055;
    background: none;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
} /*hyperlink text*/

.linkGroup2 button:hover {
    background-color: rgba(0, 124, 185, 0.3);
    cursor: pointer;
} /*hyperlink on hover*/

/*Applies to all dashboard pages*/
.welcomeMessage {
    position: fixed;
    top: 61vh;
    left: 35vw;
    color: #000055;
} /*welcome to smiley*/

.reflectionWelcomeMessage {
    position: fixed;
    top: 60vh;
    left: 35vw;
    color: rgba(0, 0, 85, 0.1);
    transform: scaleY(-1); /* Flip vertically */
    transform-origin: bottom; /* Set transform origin to bottom */
} /*welcome to smiley reflection*/

/*Dashboard attribution*/
.attributionGroup {
    display: flex;
    bottom: 1vh;
    right: 1vw;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

/*on click ripple effect*/
.rippleContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.ripple {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: scale(0);
    animation: rippleEffect 1s ease-out;
}

@keyframes rippleEffect {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

/*smiley logo*/
.logoContainer {
    position: fixed;
    top: 7vh;
    left: 7vw;
    display: block;
} /*smiley logo*/

.logoContainer h1 {
    color: #000055;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
} /*smiley logo text*/

.logo {
    width: 50%;
    height: 50%;
    cursor: pointer;
} /*smiley logo image*/

.logoShake {
    width: 50%;
    height: 50%;
    cursor: pointer;
    animation: spin 3s ease;
} /*smiley logo image on click*/

/* Shake animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
